* {
    box-sizing: border-box;
}
h1 {
    text-align: center;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}
.todo-container {
    width: 600px;
    margin: 30px auto 0;
    background-color: #f6f6f6;

}
.todo-container .add-task {
    padding: 20px;
    background-color: #009688;
    position: relative;
}
.todo-container .add-task input {
    padding: 10px 15px;
    border: none;
    background-color: #f0eaea42;
    width: calc(100% - 20px);
    color: white;
    font-size: 20px;
}
.todo-container .add-task input::placeholder {
    color: white;
}
.todo-container .add-task input:focus {
    outline: none;
}
.todo-container .add-task span {
    position: absolute;
    /* color: #009688; */
    background-color: white;
    right: 25px;
    width: 43px;
    height: 43px;
    text-align: center;
    line-height: 43px;
    /* border-radius: 50%; */
    font-size: 23px;
    /* font-weight: bold; */
    cursor: pointer;
    /* transition: transform .4s; */
}
/* .todo-container .add-task span:hover {
    transform: rotate(90deg);
} */
.todo-container .tasks-content {
    padding: 15px;
}
.todo-container .tasks-content .no-tasks-message {
    color: #777;
}
.todo-container .tasks-content > span {
    background-color: white;
    display: block;
    padding: 15px;
    text-transform: capitalize;
}
.todo-container .tasks-content > span:not(:last-child) {
    margin-bottom: 10px;
}
.todo-container .tasks-content .task-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.todo-container .tasks-content .task-box.finished {
    text-decoration: line-through;
    /* cursor: pointer; */
}
/* .todo-container .tasks-content .task-box.lining {
    text-decoration: line-through;
    cursor: pointer;
} */
.todo-container .tasks-content .task-box .delete {
    background-color: red;
    color: white;
    padding: 5px 8px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 15px;
    text-decoration: none;
    cursor: pointer;
}
input[type=checkbox] {
    padding: 20px;
}